<div class="sponsors-page">
    {% for column in sponsors %}
      {% if column.sponsors %}
        <div class="sponsors-column">
            <p class="sponsors-column-name">{{ column.name|default:"&nbsp;" }}</p>
            <div class='sponsor-logos'>
                {% for offset, sponsor in column.sponsors %}
                    {% with sponsor.size as thumb_size %}
                    <a href="{{ sponsor.url }}" title="{{ sponsor.description }}" 
                        style='display:block; background: url({{ page.sprite.url }}) 0px {{ offset }}px no-repeat; width: {{ thumb_size.0 }}px; height: {{ thumb_size.1 }}px;'>
                    </a>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
      {% endif %}
    {% endfor %}
    <div style="clear: both"></div>
</div>
